<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.curd.dao.create.CreateRiderDao">

    <insert id="create" parameterType="map">
        INSERT INTO bike.rider(rider_id, rider_name, phone_number, age, password, account_condition)
        VALUES(#{rider_id}, #{rider_name}, #{phone_number}, #{age}, #{password}, #{account_condition})
    </insert>

</mapper>