<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.curd.dao.data.DataHotRiderDao">

    <!-- 获取骑行次数最多的骑行者的所有骑行记录，并进行格式化 -->
    <select id="getMost" resultType="map">
        SELECT (SELECT rider_id
                FROM riding_record_main
                GROUP BY rider_id
                ORDER BY COUNT(*) DESC
                LIMIT 1) AS rider_id,
               CONCAT(
                       SEC_TO_TIME(TIME_TO_SEC(TIMEDIFF(end_time, start_time)))
               )         AS duration,
               CONCAT(
                       DATE_FORMAT(start_time, '%H:%i:%s'),
                       '~',
                       DATE_FORMAT(end_time, '%H:%i:%s')
               )         AS period,
               CONCAT(
                       start_location_x, ',', start_location_y,
                       '#',
                       end_location_x, ',', end_location_y
               )         AS location
        FROM riding_record_main
        WHERE rider_id = (SELECT rider_id
                          FROM riding_record_main
                          GROUP BY rider_id
                          ORDER BY COUNT(*) DESC
                          LIMIT 1)
    </select>

</mapper>